<div class="form-part list">
    <div class="list-container">
        {{#each phones}}
            {{>record}}
        {{/each}}
    </div>
</div>
<div class="form-part control">
    <a onclick="window.location.href = '/add'">Add new one</a>
</div>
